<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Veu JS</title>
</head>
<body>
    
        <div id="app">

           <p v-for="a in ar">
                {{a}}
           </p>

           <p v-for="(a,index) in ar">
                {{index}} : {{a}}
            </p>

            <p v-for="(value,key,index) in user">
                {{key}} : {{value}} : {{index}}
            </p>
        </div>

    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>
</html>